#flix-title {
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    padding: 0px;
    margin: 0px;
}

.queue-list .sc-list-item-view .icon {
   top:0px;
   margin-top:10px; 
   -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.5) ;
/*   
   -webkit-box-reflect:below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));*/
}

.queue-list .sc-list-item-view label {
    font-size: 18px;
    margin-left: 84px;
    height: 24px;
    margin-top: -12px;
    line-height: 24px;
}

.queue-list .sc-list-item-view .right-icon {
    position: absolute;
    right: 10px;
    margin-top: -12px;
    top: 50%;
}